body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

table {
    border-collapse: collapse;
    text-align: center;
    font-size: 150%;
}

table, th, td {
   border: 1px solid black;
}

tr {
    height: 20vmin;
}

td {
    width: 20vmin;
}

td p {
    margin: 20px;
}

td {
    background-color: white;
}

td.selected {
    background-color: #f66;
}

.button {
    background-color: #b22;
    color: #e6e6e6;
    border: #333 solid 2px;
    border-radius: 3px;
    padding: 5px;
    margin: 10px;
    text-decoration: none;
}

.button:active, .button:focus {
    background-color: #a22;
}