{% load static from staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bingo</title>
    <link rel="stylesheet" href="{% static 'main.css' %}" media="screen" title="no title">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
</head>
<body>

<h2>2016 Thanksgiving Family Argument Bingo</h2>

<table>
    <tbody>
{% for t in terms %}
    {% if forloop.counter0|divisibleby:5 %}
    {% if forloop.counter0 != 0 %}
    </tr>
    {% endif %}
    <tr>
    {% endif %}
    <td id="{{ t.pk }}" class="{% if t.checked %}selected{% endif %}"{% if forloop.counter0 == 12 %}style="color:red;"{% endif %}><p>{{ t.term.text }}</p></td>
{% endfor %}
</tr>
</tbody>
</table>

<p>Bingo cards are randomly generated the first time you visit the page. To get a new bingo card click the button below</p>

<a id="reset_btn" href="{% url 'reset' %}" class="button">
    New BINGO card
</a>

<script type="text/javascript">
$(document).ready(function() {
    $('td').click(function() {
        var id = this.id
        var term = $('#'+id);

        if (term.hasClass('selected')) {
            term.removeClass('selected');
        } else {
            term.addClass('selected');
        }

        $.post("{% url 'toggle' %}", 'id='+id, function(data) {});
    });

    $('#reset_btn').click(function () {
        return window.confirm("Are you sure?");
    });
});
</script>

</body>
</html>
